 

<nav>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <label class="logo">Tracker<span class="text-warning">X</span></label>
        <label class="hamburger"><button (click)="onClickHamburger($event)"><i class="fa fa-bars" aria-hidden="true"></i></button></label>
        <ul class="nav-list">
          <li>Home</li>
          <li>Dashboard</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</nav>
 